<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397476041130-7qkjjc7psh5gcus5ks37mb0u4ik8to7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397476041130-7qkjjc7psh5gcus5ks37mb0u4ik8to7b</string>
	<key>API_KEY</key>
	<string>AIzaSyBbbxuHgpX9XluaVDHAFR1IBISOodHhKOI</string>
	<key>GCM_SENDER_ID</key>
	<string>397476041130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBookingApp</string>
	<key>PROJECT_ID</key>
	<string>train-booking-app</string>
	<key>STORAGE_BUCKET</key>
	<string>train-booking-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397476041130:ios:2df8c4c050e5fc028c1bd3</string>
</dict>
</plist>